.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.persons {
    height: 400px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: 1px solid white;
}

.persons_list {
margin: auto;
}
